# ========================================
# Webhook Engine - Environment Variables
# ========================================
PORT=8080

# Base de données PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=webhook_db
DB_USER=postgres
DB_PASSWORD=root